.singles{
  max-width: 1200px;
  margin: auto;
}
.single img{
  width: 100%;
  height: 700px;
  object-fit: cover;
}


@media screen and (min-width : 200px) {
  .single{
    padding: 10px 20px;
  }
}

